.animateBckg{
  margin: 0;
  padding: 0;
  background: #008a9cb6;
  color: #2a2a2a;
  width: 100vw;
  height: 100vh;
}
.home_context{
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  margin: 0 auto;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1{
    font-size: 80px;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid orange;
    animation: flashing 0.75 step-end infinite;

    @keyframes flashing{
      0%{
        border-color: orange;
      }
      50%{
        border-color: transparent;
      }
      100%{
        border-color: orange;
      }
    }
  }
}

