.App {
  position: relative;
  display: flex;
  flex-direction: column;
  .languageToggle {
    border-radius: 2px;
    border: 3px solid orange;
    opacity: 0.7;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 40px;
    z-index: 3;
    color: orange;
    font-size: 30px;
    transition: 0.1s;
    text-align: center;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  .navigation {
    flex-direction: column;
    position: absolute;
    height: 65vh;
    top:35vh;
    width: 150px;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .link{
      opacity: 0.7;
      margin-bottom: 50px;
      margin-left: 50px ;
      transition: 0.1s;
      display: block;
      height: 50px;
      width: 50px;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    .activeLink{
      opacity: 1;
    }
    .animSvg{
      stroke-dasharray:178 ;
      stroke-dashoffset: 178;
      animation: animIcons 2s ease-in-out 0.5s 1;
      animation-fill-mode:forwards;
      fill:orange;
      fill-opacity: 0;
    }
    @keyframes animIcons {
      90%{
      fill-opacity: 0;
      }
      100%{
      stroke-dashoffset: 0;
      stroke-dasharray:178;
      fill-opacity: 1;
      fill: orange;
      }
    }
  }
}
